.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Example/GamzabadaUIKit-iOS.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Example/GamzabadaUIKit-iOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
